<!-- Navigation -->
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">
          <!--<img src="/images/angular2.png" alt="Logo" height="30" width="30">-->
          Angular 2.0 Forum</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/discussion']">Discussion</a></li>
                <li><a [routerLink]="['/blog']">Blogs</a></li>
                <li><a [routerLink]="['/query']">New Query</a></li>
                <li><a [routerLink]="['/home']">Register/Login</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <br><br><br>
    <router-outlet></router-outlet>